baseURL = 'https://example.org/'
languageCode = 'en-US'
title = 'My New Hugo Site'

[menus]
  [[menus.main]]
    name = 'Home'
    pageRef = '/'
    weight = 10

  [[menus.main]]
    name = 'About Me'
    pageRef = '/about/'
    weight = 20

  [[menus.main]]
    name = 'Posts'
    pageRef = '/posts'
    weight = 30

  [[menus.main]]
    name = 'Tags'
    url = '/tags/'
    weight = 40

[taxonomies]
  tag = "tags"
  author = "authors"

[module]
  [module.hugoVersion]
    extended = false
    min = '0.146.0'


[outputFormats]
  [outputFormats.JSON]
    mediaType = "application/json"
    baseName = "index"
    isPlainText = true
    notAlternative = true
    permalinkable = true
[markup]
  [markup.tableOfContents]
    endLevel = 5
    ordered = false
    startLevel = 2

[outputs]
  home = ['html', 'rss']
  section = ['html', 'rss']
  taxonomy = ['html']
  term = ['html']