{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ $authors := .Params.authors }}
  {{ if $authors }}
    <div>
      <span>Authors:</span>
      <ul style="display:inline;list-style:none;padding:0;margin:0;">
        {{ range $i, $author := $authors }}
          <li style="display:inline;">
            {{ if $i }}, {{ end }}<a class="author-badge" href="/authors/{{ $author | urlize }}/">{{ $author }}</a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}

  <div class="post-meta">
    <span>
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    </span>
    <span>{{ .ReadingTime }} min read</span>
    <span>{{ .WordCount }} words</span>
  </div>

  {{ $tags := .Params.tags }}
  {{ if $tags }}
    <div style="margin: 0.5rem 0 0 0; text-align: left;">
      <span>Tags:</span>
      <span>
        {{ range $i, $tag := $tags }}
          <a class="tag-badge" href="/tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        {{ end }}
      </span>
    </div>
  {{ end }}
  {{ if .TableOfContents }}
    <div class="toc" id="toc-container">
      <h2 id="toc-title">Table of Contents</h2>
      {{ .TableOfContents }}
    </div>
  {{ end }}

  <div id="post-content-wrapper">
    <div id="post-main-content">
      {{ .Content }}
    </div>
  </div>

  {{ if eq .Section "posts" }}
    <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 2.5rem; border-top: 1px solid #bbb; padding-top: 1.5rem;">
      <div style="flex:1; text-align:left;">
        {{ with .PrevInSection }}
          <a href="{{ .RelPermalink }}">← Previous: {{ .Title }}</a>
        {{ end }}
      </div>
      <div style="flex:1; text-align:right;">
        {{ with .NextInSection }}
          <a href="{{ .RelPermalink }}">Next: {{ .Title }} →</a>
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}

