{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ if .Data.Terms }}
    <div style="padding:0;margin:0;">
      {{ $tags := .Data.Terms.Alphabetical }}
      {{ range $i, $tag := $tags }}
        <span style="display:inline-block;margin:0 0 0.5rem 0;">
          <a class="tag-link-animated" href="{{ $tag.Page.RelPermalink }}">{{ $tag.Page.Title }}</a>{{ if lt $i (sub (len $tags) 1) }}<span class="interpunct">·</span>{{ end }}
        </span>
      {{ end }}
    </divs>
  {{ end }}
{{ end }}
